:root {
  --background: #fff;
  --blue: #2666cf;
  --gray: #395b64;
  --titulos: #363f5f;
  --text: #2c3333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 100%;
  height: 100vh;
  background-color: var(--background);
}
header {
  width: 100%;
  height: 80px;
  padding: 1rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 200px;
}
#btn-mobile {
  display: none;
}
.nav-items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-items > li {
  list-style: none;
}
.nav-item {
  text-decoration: none;
  margin-right: 0.7rem;
  color: var(--blue);
  font-size: 1.2rem;
  transition: filter 0.2s;
  display: block;
  padding: 0.5rem;
  transition: filter 0.2s;
}
.nav-item:hover {
  filter: brightness(0.3);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.container {
  max-width: 1220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 10px;
}
.main-banner {
  width: 100%;
}
.banner-wraper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.banner-img {
  width: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.banner-img img {
  width: 100%;
  height: 500px;
}
.banner-text h2 {
  font-size: 2rem;
  color: var(--blue);
  font-weight: 400;
}
.banner-text h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--titulos);
}
.descricao {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.descricao p {
  font-size: 1.2rem;
  color: var(--text);
}
.generic-button {
  width: 120px;
  height: 50px;
  border-radius: 6px;
  color: white;
  background-color: var(--blue);
  cursor: pointer;
  transition: filter 0.2s;
  font-size: 1rem;
}
.generic-button:hover {
  filter: brightness(0.8);
}
.sobre {
  margin-top: 50px;
}
.sobre h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--titulos);
  font-size: 2rem;
  font-weight: bold;
}
.sobre p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text);
}
.lista {
  margin-top: 10px;
}
.lista-item {
  list-style: none;
  padding: 10px;
}
.servicos h2 {
  text-align: center;
  color: var(--titulos);
  font-size: 2rem;
  font-weight: bold;
}
.servicos {
  margin-top: 50px;
  width: 100%;
}
.card-wraper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 3rem;
}
.card-container > img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}
.card-container > h3 {
  color: var(--titulos);
  font-size: 1.5rem;
  line-height: 32px;
  padding: 3px;
}
.card-container > span {
  color: var(--titulos);
  font-size: 1rem;
  line-height: 28px;
  padding: 3px;
  font-weight: 500;
}
.card-container > p {
  color: var(--text);
  font-size: 0.8rem;
  font-size: 400;
  line-height: 28px;
  padding: 3px;
}

#servicos .card-container {
  margin-left: 20px;
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-bottom: 4px solid var(--blue);
  padding: 10px;
}
/* .slider {
  display: block;
  height: 293px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}
.slider li> h3{
  margin-bottom: 1rem;
  color: var(--titulos);
}
.slider p {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}
.slider input {
  display: none;
}
.slider label {
  background-color: #000;
  bottom: -30px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}


.slider li:nth-child(2) label {
  left: 40px;
}

.slider li:nth-child(3) label {
  left: 70px;
}
.slider .depoimentos_wrap {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ .depoimentos_wrap {
  opacity: 1;
  visibility: visible;
  z-index: 10;
} */
.contato {
  width: 100%;
  margin-top: 50px;
}
.contato h2 {
  margin-bottom: 1.5rem;
  color: var(--titulos);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.contato-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  
}
.contato-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.contato-wraper p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 10px;
}
.funcionamento{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.funcionamento h3{
  font-size: 1rem;
  font-weight: normal;
}
.contato ul {
  line-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contato li {
  list-style: none;
  color: var(--text);
  font-size: 1rem;
  font-weight: bold;
}
.contato i {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--titulos);
}
.mapa {
  margin: 50px auto;
  max-width: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 6px;
}
footer {
  background-color: var(--blue);
  width: 100%;
  height: 237px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-logo {
  display: flex;
  flex-direction: column;
}
.footer-logo img {
  width: 250px;
  margin-bottom: 8px;
}
.footer-logo i {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #fff;
}
.footer-logo span {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer-logo p {
  color: var(--text);
  font-size: 1rem;
}
.footer-social {
  display: flex;
  justify-content: space-around;
}
.footer-social a {
  text-decoration: none;
  color: #fff;
  display: flex;
  transition: filter 0.2s;
}
.footer-social i {
  font-size: 1.8rem;
  margin-right: 30px;
}
.footer-social a:hover {
  filter: brightness(0.8);
}
/*Responsivo*/
@media (max-width: 1100px) {
  .banner-img img {
    max-width: 500px;
  }
  #servicos .card-container {
    width: 200px;
  }
  .descricao {
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 930px) {
  .banner-wraper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }

  .descricao p {
    margin-bottom: 20px;
  }
  .sobre {
    padding: 0 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 930px) {
  .banner-wraper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }

  .descricao p {
    margin-bottom: 20px;
  }
}
@media (max-width: 765px) {
  .servicos h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--titulos);
    font-size: 2rem;
    font-weight: bold;
  }
  .servicos {
    width: 100%;
  }
  .card-wraper {
    flex-direction: column;
  }
  .card-container > img {
    height: 300px;
  }
  .card-container > h3 {
    color: var(--titulos);
    font-size: 1.6rem;
    line-height: 32px;
    padding: 3px;
  }
  .card-container > span {
    font-size: 1.2rem;
  }
  .card-container > p {
    font-size: 1rem;
    line-height: 28px;
  }
  .card-container > button {
    padding-bottom: 20px;
  }

  #servicos .card-container {
    margin-bottom: 20px;
    margin-left: 0;
    width: 80%;
  }

  .contato h2 {
    font-size: 2rem;
  }
  .contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
  }
  .contato-wraper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contato-wraper p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 10px;
  }
  .contato ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  .contato li {
    list-style: none;
    color: var(--text);
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
  }
  .contato i {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: var(--titulos);
  }
}
@media (max-width: 550px) {
  header {
    position: fixed;
    z-index: 999;
    top: 0;
  }
  nav {
    justify-content: flex-end;
    align-items: center;
  }
  .nav-items {
    display: block;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0;
    background-color: #fff;
    height: 0px;
    transition: 0.6s;
    z-index: 999;
    visibility: hidden;
    overflow-y: hidden;
  }
  #btn-mobile {
    display: block;
  }
  #nav.active #menu {
    visibility: visible;
    height: calc(100vh - 80px);
    overflow-y: auto;
    justify-items: flex-end;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid var(--blue);
  }
  #btn-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    border: none;
    font-size: 1rem;
    color: var(--blue);
    background-color: var(--background);
    cursor: pointer;
  }
  #hamburger {
    border-top: 4px solid;
    width: 30px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -8px;
  }
  .main-banner {
    margin-top: 80px;
    width: 100%;
  }
  .banner-img img {
    display: none;
  }
  .sobre p {
    text-align: center;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }
  #servicos .card-container {
    margin-bottom: 20px;
    margin-left: 0;
    width: 90%;
  }
  .descricao p {
    display: none;
  }
}
